openapi: 3.0.3
info:
  title: MusicAlligator API
  version: 0.1.0
  description: Спецификация MusicAlligator API.
servers:
- url: https://v2api.musicalligator.ru/api
  description: Production
security:
- tokenAuth: []
tags:
- name: Auth
  description: Аутентификация
- name: Releases
  description: Релизы и треки
- name: Platforms
  description: Площадки и страны
- name: Artists
  description: Артисты
- name: Persons
  description: Участники (авторы, продюсеры и т.п.)
- name: Labels
  description: Лейблы
- name: Statistics
  description: Статистика прослушиваний
- name: Finance
  description: Финансы и выплаты
- name: Client
  description: Клиент, профиль и документы
- name: Support
  description: Поддержка
- name: System
  description: Системные эндпоинты
paths:
  /auth/sign_in:
    post:
      tags:
      - Auth
      summary: Вход
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthSignInRequest'
      responses:
        '201':
          description: Вход выполнен.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthSignInResponse'
        '400':
          description: Ошибка входа.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /auth/authenticate:
    get:
      tags:
      - Auth
      summary: Проверить токен
      responses:
        '200':
          description: Сессия активна.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthAuthenticateResponse'
  /releases:
    post:
      tags:
      - Releases
      summary: Список релизов
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                search:
                  type: string
                status:
                  type: string
                  enum:
                  - DRAFT
                  - ERROR
                  - MODERATE
                  - WAITING
                  - RELEASED
                  - TASK
                  - WORKING
                  - UPLOADED
                  - REMOVED
                  - EDIT
                  - PARTIAL_UPLOAD
                limit:
                  type: integer
                skip:
                  type: integer
                startDate:
                  type: string
                  format: date
                  nullable: true
                endDate:
                  type: string
                  format: date
                  nullable: true
                startDateRelease:
                  type: string
                  format: date
                  nullable: true
                endDateRelease:
                  type: string
                  format: date
                  nullable: true
              example:
                search: ''
                limit: 10
                skip: 0
                startDate: null
                endDate: null
                startDateRelease: null
                endDateRelease: null
      responses:
        '201':
          description: Релизы.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReleasesListResponse'
        '400':
          description: Ошибка запроса.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /releases/create:
    post:
      tags:
      - Releases
      summary: Создать релиз
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateReleaseRequest'
      responses:
        '201':
          description: Релиз создан.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateReleaseResponse'
  /releases/filters:
    get:
      tags:
      - Releases
      summary: Справочник фильтров релизов (жанры, типы, языки)
      parameters:
      - $ref: '#/components/parameters/XLang'
      responses:
        '200':
          description: Справочник.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReleasesFiltersResponse'
        '400':
          description: Ошибка запроса.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /releases/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: integer
        format: int64
      description: ID релиза (возвращается в POST /releases/create).
    get:
      tags:
      - Releases
      summary: Получить релиз по ID
      description: Возвращает релиз целиком, вместе с массивом треков.
      responses:
        '200':
          description: Объект релиза.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReleaseResponse'
        '404':
          description: Релиз не найден.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
      - Releases
      summary: Обновить релиз (вместе со всеми треками)
      description: Полное обновление релиза. Тело содержит весь релиз целиком, включая массив tracks[]
        с полными объектами треков.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReleaseUpdate'
      responses:
        '200':
          description: Релиз обновлён.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
        '400':
          description: Ошибка валидации.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
      - Releases
      summary: Удалить релиз
      responses:
        '200':
          description: Релиз удалён.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
  /releases/{id}/status/moderate:
    put:
      tags:
      - Releases
      summary: Отправить релиз на модерацию
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
        description: ID релиза.
      responses:
        '200':
          description: Релиз отправлен на модерацию.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
        '400':
          description: Ошибка валидации релиза.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /ddex/release/{id}:
    get:
      tags:
      - Releases
      summary: Статусы выгрузки релиза по площадкам
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
        description: ID релиза.
      responses:
        '200':
          description: Статусы выгрузки.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReleaseUploadStatusesResponse'
  /releases/{id}/cover:
    post:
      tags:
      - Releases
      summary: Загрузить обложку релиза
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
        description: ID релиза.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: Файл обложки.
      responses:
        '201':
          description: Обложка загружена.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaUploadResponse'
  /releases/{id}/tracks/order:
    post:
      tags:
      - Releases
      summary: Изменить порядок треков
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
        description: ID релиза.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                order:
                  type: array
                  items:
                    $ref: '#/components/schemas/TrackOrderItem'
              required:
              - order
              description: Порядок треков.
      responses:
        '201':
          description: Порядок сохранён.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
  /releases/{id}/tracks:
    post:
      tags:
      - Releases
      summary: Создать трек в релизе
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
        description: ID релиза.
      responses:
        '201':
          description: Трек создан.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTrackResponse'
  /releases/{id}/tracks/{trackId}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: integer
        format: int64
      description: ID релиза.
    - name: trackId
      in: path
      required: true
      schema:
        type: integer
        format: int64
      description: ID трека.
    put:
      tags:
      - Releases
      summary: Создать/обновить трек
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Track'
      responses:
        '200':
          description: Трек сохранён.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
        '400':
          description: Ошибка валидации.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
      - Releases
      summary: Удалить трек
      responses:
        '200':
          description: Трек удалён.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
  /releases/{id}/tracks/{trackId}/upload:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: integer
        format: int64
      description: ID релиза.
    - name: trackId
      in: path
      required: true
      schema:
        type: integer
        format: int64
      description: ID трека.
    post:
      tags:
      - Releases
      summary: Загрузить аудиофайл трека
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: Аудио/видео файл трека.
      responses:
        '201':
          description: Файл загружен.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaUploadResponse'
    delete:
      tags:
      - Releases
      summary: Удалить аудиофайл трека
      responses:
        '200':
          description: Файл удалён.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
  /platform/platforms/streaming:
    get:
      tags:
      - Platforms
      summary: Список стриминговых площадок
      parameters:
      - $ref: '#/components/parameters/XLang'
      - name: withProviders
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: Площадки.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamingPlatformsResponse'
        '400':
          description: Ошибка запроса.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /platform/platforms/social:
    get:
      tags:
      - Platforms
      summary: Список соцсетей
      responses:
        '200':
          description: Соцсети.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SocialPlatformsResponse'
  /platform/countries:
    get:
      tags:
      - Platforms
      summary: Список стран
      responses:
        '200':
          description: Страны.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountriesResponse'
        '400':
          description: Ошибка запроса.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /artists:
    get:
      tags:
      - Artists
      summary: Поиск артистов
      parameters:
      - name: name
        in: query
        required: false
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
      - name: skip
        in: query
        required: false
        schema:
          type: integer
      - name: ids[]
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
      responses:
        '200':
          description: Артисты.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchEntitiesResponse'
    post:
      tags:
      - Artists
      summary: Создать артиста
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArtistCreate'
      responses:
        '201':
          description: Артист создан.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdResponse'
  /artists/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: integer
        format: int64
      description: ID артиста.
    put:
      tags:
      - Artists
      summary: Обновить артиста
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArtistCreate'
      responses:
        '200':
          description: Артист обновлён.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
    delete:
      tags:
      - Artists
      summary: Удалить артиста
      responses:
        '200':
          description: Артист удалён.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
  /persons:
    get:
      tags:
      - Persons
      summary: Поиск участников
      parameters:
      - name: name
        in: query
        required: false
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
      - name: skip
        in: query
        required: false
        schema:
          type: integer
      - name: ids
        in: query
        required: false
        schema:
          type: string
        description: Список ID через запятую.
      responses:
        '200':
          description: Участники.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchEntitiesResponse'
    post:
      tags:
      - Persons
      summary: Создать участника
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonCreate'
      responses:
        '201':
          description: Участник создан.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdResponse'
  /persons/person-data:
    get:
      tags:
      - Persons
      summary: Справочник ролей и инструментов
      description: Источник правды по ролям (roleKeys) и инструментам (instrumentKeys) для треков.
      responses:
        '200':
          description: Справочник.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonDataResponse'
  /persons/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: integer
        format: int64
      description: ID участника.
    put:
      tags:
      - Persons
      summary: Обновить участника
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonCreate'
      responses:
        '200':
          description: Участник обновлён.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
    delete:
      tags:
      - Persons
      summary: Удалить участника
      responses:
        '200':
          description: Участник удалён.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
  /labels:
    get:
      tags:
      - Labels
      summary: Поиск лейблов
      parameters:
      - name: name
        in: query
        required: false
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
      - name: skip
        in: query
        required: false
        schema:
          type: integer
      - name: ids
        in: query
        required: false
        schema:
          type: string
        description: Список ID через запятую.
      responses:
        '200':
          description: Лейблы (ответ с двойной вложенностью data.data).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelsSearchResponse'
    post:
      tags:
      - Labels
      summary: Создать лейбл
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
              required:
              - name
      responses:
        '201':
          description: Лейбл создан.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelCreateResponse'
  /labels/{id}:
    put:
      tags:
      - Labels
      summary: Обновить лейбл
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
        description: ID лейбла.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
              required:
              - name
      responses:
        '200':
          description: Лейбл обновлён.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
  /statistics:
    post:
      tags:
      - Statistics
      summary: Запрос статистики
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StatisticsRequest'
      responses:
        '201':
          description: Статистика.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatisticsResponse'
  /statistics/filters:
    get:
      tags:
      - Statistics
      summary: Доступные фильтры статистики
      responses:
        '200':
          description: Фильтры статистики.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatisticsFiltersResponse'
  /finance/reports:
    post:
      tags:
      - Finance
      summary: Финансовые отчёты
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FinanceReportsRequest'
      responses:
        '201':
          description: Финансовые отчёты.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinanceReportsResponse'
  /finance/reports/detailed:
    post:
      tags:
      - Finance
      summary: Детальный отчёт
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FinanceDetailedReportsRequest'
      responses:
        '201':
          description: Детальный отчёт.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinanceDetailedReportsResponse'
  /finance/reports/file/{type}:
    get:
      tags:
      - Finance
      summary: Файл отчёта
      parameters:
      - name: type
        in: path
        required: true
        schema:
          type: string
          enum:
          - csv
          - pdf
          - xlsx
      - name: periodIds[]
        in: query
        required: true
        schema:
          type: array
          items:
            type: integer
        style: form
        explode: true
      - name: releaseId
        in: query
        required: false
        schema:
          type: integer
      - name: artistIds[]
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
        style: form
        explode: true
      - name: platformIds[]
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
        style: form
        explode: true
      responses:
        '200':
          description: Файл отчёта.
          content:
            text/csv:
              schema:
                type: string
                format: binary
            application/pdf:
              schema:
                type: string
                format: binary
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: string
                format: binary
        '400':
          description: Ошибка запроса.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /finance/reports/filters:
    get:
      tags:
      - Finance
      summary: Фильтры отчётов
      responses:
        '200':
          description: Фильтры отчётов.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinanceReportsFiltersResponse'
    post:
      tags:
      - Finance
      summary: Фильтры отчётов с локализованными справочниками
      parameters:
      - $ref: '#/components/parameters/XLang'
      responses:
        '201':
          description: Фильтры отчётов.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinanceReportsFilterOptionsResponse'
  /finance/transactions:
    post:
      tags:
      - Finance
      summary: Список транзакций
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FinanceTransactionsRequest'
      responses:
        '201':
          description: Список транзакций.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinanceTransactionsResponse'
  /finance/transactions/invoice/{currency}/history:
    get:
      tags:
      - Finance
      summary: История инвойсов
      parameters:
      - name: currency
        in: path
        required: true
        schema:
          type: string
          enum:
          - RUB
          - EUR
      responses:
        '200':
          description: История инвойсов.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinanceInvoiceHistoryResponse'
  /finance/balance:
    get:
      tags:
      - Finance
      summary: Баланс
      responses:
        '200':
          description: Баланс.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinanceBalanceResponse'
  /documents/contracts:
    get:
      tags:
      - Client
      summary: Список договоров
      responses:
        '200':
          description: Данные договора.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractDocumentResponse'
  /documents/contracts/html:
    get:
      tags:
      - Client
      summary: HTML договора
      responses:
        '200':
          description: HTML-разметка договора.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractHtmlResponse'
  /documents/contracts/template:
    get:
      tags:
      - Client
      summary: PDF-шаблон договора
      responses:
        '200':
          description: PDF-файл шаблона договора.
          content:
            application/pdf:
              schema:
                type: string
                format: binary
  /documents/contracts/{contractId}/file:
    get:
      tags:
      - Client
      summary: PDF договора
      parameters:
      - name: contractId
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: PDF-файл договора.
          content:
            application/pdf:
              schema:
                type: string
                format: binary
  /documents/contracts/{contractId}/amendment:
    get:
      tags:
      - Client
      summary: PDF допсоглашения
      parameters:
      - name: contractId
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: PDF-файл допсоглашения.
          content:
            application/pdf:
              schema:
                type: string
                format: binary
  /support:
    post:
      tags:
      - Support
      summary: Список обращений
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupportCasesRequest'
      responses:
        '201':
          description: Список обращений.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupportCasesResponse'
  /support/cases/{id}:
    get:
      tags:
      - Support
      summary: Получить обращение
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
        description: ID обращения.
      responses:
        '200':
          description: Обращение.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupportCaseResponse'
  /support/types:
    get:
      tags:
      - Support
      summary: Типы обращений
      responses:
        '200':
          description: Типы обращений.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupportTypesResponse'
  /locale:
    get:
      tags:
      - System
      summary: Локали
      responses:
        '200':
          description: Локали.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocaleResponse'
  /notifications:
    get:
      tags:
      - System
      summary: Уведомления
      responses:
        '200':
          description: Уведомления.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationsResponse'
  /page:
    get:
      tags:
      - System
      summary: Страница (контент)
      responses:
        '200':
          description: Страницы.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagesResponse'
components:
  parameters:
    XLang:
      name: X-Lang
      in: header
      required: true
      schema:
        type: string
        enum:
        - RU
        - EN
  securitySchemes:
    tokenAuth:
      type: apiKey
      in: header
      name: authorization
      description: Токен сессии (UUID), передаётся в заголовке authorization.
  schemas:
    ErrorResponse:
      type: object
      properties:
        statusCode:
          type: integer
        message:
          type: string
        errors:
          description: Код ошибки, массив кодов или объект с деталями. Возможные коды включают RELEASE_NO_GENRE и RELEASE_INCORRECT_STREAMING_PLATFORMS.
          oneOf:
          - type: string
          - type: array
            items:
              type: string
          - type: object
            additionalProperties: {}
    AuthSignInRequest:
      type: object
      properties:
        login:
          type: string
          format: email
        password:
          type: string
          format: password
      required:
      - login
      - password
    AuthSignInResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            login:
              type: string
              format: email
            verified:
              type: boolean
            account:
              $ref: '#/components/schemas/AuthAccount'
            passwordToken:
              type: string
              nullable: true
            sessionToken:
              type: string
        statusCode:
          type: integer
          example: 201
    AuthBalance:
      type: object
      properties:
        amount:
          type: number
        currency:
          type: string
    AuthAccount:
      type: object
      properties:
        clientId:
          type: integer
        level:
          type: string
        session:
          type: string
        dtCreate:
          type: string
        role:
          type: string
        status:
          type: string
        contractStatus:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        username:
          type: string
        middleName:
          type: string
        documentRequred:
          type: boolean
        documentUrl:
          type: string
          nullable: true
        avatarUrl:
          type: string
        phone:
          type: string
        balance:
          type: array
          items:
            $ref: '#/components/schemas/AuthBalance'
        contractData:
          type: object
          additionalProperties: {}
        contractType:
          type: string
        royalty:
          type: integer
    AuthAuthenticateResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            passwordToken:
              type: string
              nullable: true
            account:
              $ref: '#/components/schemas/AuthAccount'
            login:
              type: string
        statusCode:
          type: integer
          example: 200
    EntityWithPlatforms:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        platforms:
          type: array
          items:
            $ref: '#/components/schemas/PersonPlatform'
    SearchEntitiesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/EntityWithPlatforms'
        statusCode:
          type: integer
          example: 200
    LabelSearchItem:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        clientId:
          type: integer
        level:
          type: string
    LabelsSearchResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/LabelSearchItem'
            count:
              type: integer
        statusCode:
          type: integer
          example: 200
    LabelCreateResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/LabelSearchItem'
        statusCode:
          type: integer
          example: 201
    ReleasesListResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            count:
              type: integer
            data:
              type: array
              items:
                $ref: '#/components/schemas/Release'
        statusCode:
          type: integer
          example: 201
    StatisticsFiltersResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            platformIds:
              type: array
              items:
                type: integer
            countryIds:
              type: array
              items:
                type: integer
        statusCode:
          type: integer
          example: 200
    StatisticsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/StatisticsRow'
        statusCode:
          type: integer
          example: 201
    StatisticsRow:
      type: object
      properties:
        count:
          type: integer
        dt_listen:
          type: string
          example: '2026-06-27 00:00:00'
        id_m_list_streaming_platform:
          type: integer
        id_s_list_country:
          type: integer
        code_country:
          type: string
          example: RU
        id_m_track:
          type: integer
        nm_track:
          type: string
        isrc:
          type: string
    FinanceArtistFilter:
      type: object
      properties:
        artistId:
          type: integer
        name:
          type: string
    FinancePeriodFilter:
      type: object
      properties:
        periodId:
          type: integer
        name:
          type: string
    FinancePlatformFilter:
      type: object
      properties:
        platformId:
          type: integer
        name:
          type: string
    FinanceIdName:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
    FinanceReportsFiltersResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            artists:
              type: array
              items:
                $ref: '#/components/schemas/FinanceArtistFilter'
            periods:
              type: array
              items:
                $ref: '#/components/schemas/FinancePeriodFilter'
            platforms:
              type: array
              items:
                $ref: '#/components/schemas/FinancePlatformFilter'
            contries:
              type: array
              items: {}
        statusCode:
          type: integer
          example: 200
    FinanceReportsFilterOptionsResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            platforms:
              type: array
              items:
                $ref: '#/components/schemas/FinanceIdName'
            artists:
              type: array
              items:
                $ref: '#/components/schemas/FinanceIdName'
            countries:
              type: array
              items:
                $ref: '#/components/schemas/FinanceIdName'
            periods:
              type: array
              items:
                $ref: '#/components/schemas/FinanceIdName'
        statusCode:
          type: integer
          example: 201
    FinanceReportsRequest:
      type: object
      properties:
        limit:
          type: integer
          example: 20
        skip:
          type: integer
          example: 0
        platformIds:
          type: array
          items:
            type: integer
        countryIds:
          type: array
          items:
            type: integer
        artistIds:
          type: array
          items:
            type: integer
        periodIds:
          type: array
          items:
            type: integer
      example:
        limit: 20
        skip: 0
        platformIds: []
        countryIds: []
        artistIds: []
        periodIds:
        - 25
    FinanceReportsResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            count:
              type: integer
            data:
              type: array
              items:
                $ref: '#/components/schemas/FinanceReportItem'
        statusCode:
          type: integer
          example: 201
    FinanceReportItem:
      type: object
      properties:
        royaltyInClientCurrencyEur:
          type: number
        royaltyInClientCurrencyRub:
          type: number
        label:
          type: string
        releaseId:
          type: integer
        title:
          type: string
        artist:
          type: string
          nullable: true
        artistId:
          type: integer
          nullable: true
        cover:
          type: string
          nullable: true
        period:
          type: string
        periodId:
          type: integer
        listens:
          type: integer
        sales:
          type: integer
        royaltyRUB:
          type: number
        royaltyEUR:
          type: number
    FinanceDetailedReportsRequest:
      allOf:
      - $ref: '#/components/schemas/FinanceReportsRequest'
      - type: object
        properties:
          releaseId:
            type: integer
            deprecated: true
    FinanceDetailedReportsResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            count:
              type: integer
            data:
              type: array
              items:
                $ref: '#/components/schemas/FinanceDetailedReportItem'
        statusCode:
          type: integer
          example: 201
    FinanceDetailedReportItem:
      type: object
      properties:
        royaltyInClientCurrency:
          type: string
        clientCurrency:
          type: string
        releaseId:
          type: integer
        countryId:
          type: integer
        platformId:
          type: integer
        periodId:
          type: integer
        ISRC:
          type: string
        EAN:
          type: string
        currency:
          type: string
        artist:
          type: string
        title:
          type: string
        trackVersion:
          type: string
          nullable: true
        royalty:
          type: string
        sales:
          type: integer
        listens:
          type: integer
        album:
          type: string
        store:
          type: string
        period:
          type: string
        label:
          type: string
        country:
          type: string
        releaseType:
          type: string
        cover:
          type: string
          nullable: true
        saleType:
          type: string
        royaltyRate:
          type: number
        usage_date:
          type: string
          nullable: true
        platform:
          type: string
          nullable: true
        usage_type:
          type: string
          nullable: true
        subscription_type:
          type: string
          nullable: true
    FinanceTransactionsRequest:
      type: object
      properties:
        limit:
          type: integer
          example: 10
        skip:
          type: integer
          example: 0
        offset:
          type: integer
          example: 0
        type:
          type: string
          enum:
          - WITHDRAW
          - PACKAGE_PURCHASE
    FinanceTransactionsResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/FinanceTransaction'
            count:
              type: integer
        statusCode:
          type: integer
          example: 201
    FinanceTransaction:
      type: object
      properties:
        transactionId:
          type: integer
          nullable: true
        date:
          type: string
        title:
          type: string
        type:
          type: string
        status:
          type: string
        amount:
          type: number
        currency:
          type: string
        Comment:
          type: string
          nullable: true
    FinanceInvoiceHistoryResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/FinanceInvoiceHistoryItem'
        statusCode:
          type: integer
          example: 200
    FinanceInvoiceHistoryItem:
      type: object
      properties:
        amount:
          type: string
        date:
          type: string
          format: date-time
        royaltyEUR:
          type: number
        royaltyRUB:
          type: number
        clientCurrency:
          type: string
        rubsInEuro:
          type: number
    FinanceBalanceResponse:
      type: object
      properties:
        data:
          type: object
          additionalProperties:
            type: number
        statusCode:
          type: integer
          example: 200
    ContractDocument:
      type: object
      properties:
        contractId:
          type: integer
        email:
          type: string
        documentRequired:
          type: boolean
        fistNamme:
          type: string
        lastName:
          type: string
        locale:
          type: string
        contractType:
          type: string
        contractUid:
          type: string
          nullable: true
        clientData:
          type: object
          additionalProperties: {}
        dtCreate:
          type: string
        dtConfirm:
          type: string
        dtSign:
          type: string
        status:
          type: string
        clientStatus:
          type: string
        signature:
          type: string
        clientId:
          type: integer
        phone:
          type: string
        royalty:
          type: integer
        templateId:
          type: integer
    ContractDocumentResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ContractDocument'
        statusCode:
          type: integer
          example: 200
    ContractHtmlResponse:
      type: object
      properties:
        data:
          type: string
          description: HTML-разметка договора.
        statusCode:
          type: integer
          example: 200
    SupportType:
      type: object
      properties:
        caseTypeId:
          type: integer
        name:
          type: string
    SupportTypesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/SupportType'
        statusCode:
          type: integer
          example: 200
    SupportCasesRequest:
      type: object
      properties:
        limit:
          type: integer
          example: 10
        skip:
          type: integer
          example: 0
    SupportParticipant:
      type: object
      nullable: true
      properties:
        id:
          type: integer
        email:
          type: string
          format: email
        phone:
          type: string
        firstName:
          type: string
        middleName:
          type: string
        lastName:
          type: string
        nickName:
          type: string
        level:
          type: string
    SupportAdmin:
      type: object
      nullable: true
      properties:
        firstName:
          type: string
        lastName:
          type: string
        role:
          type: string
    SupportAttachment:
      type: object
      additionalProperties: true
    SupportMessage:
      type: object
      properties:
        caseId:
          type: integer
        messageId:
          type: integer
        text:
          type: string
        seen:
          type: boolean
        admin:
          $ref: '#/components/schemas/SupportAdmin'
        client:
          $ref: '#/components/schemas/SupportParticipant'
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/SupportAttachment'
        dtCreate:
          type: string
    SupportCase:
      type: object
      properties:
        id:
          type: integer
        caseTypeId:
          type: integer
        level:
          type: string
        status:
          type: string
        dtCreate:
          type: string
        dtUpdate:
          type: string
        seen:
          type: boolean
        messages:
          type: array
          items:
            $ref: '#/components/schemas/SupportMessage'
        client:
          $ref: '#/components/schemas/SupportParticipant'
    SupportCasesResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/SupportCase'
            count:
              type: integer
        statusCode:
          type: integer
          example: 201
    SupportCaseResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/SupportCase'
        statusCode:
          type: integer
          example: 200
    LocaleResponse:
      type: object
      properties:
        data:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: string
        statusCode:
          type: integer
          example: 200
    NotificationItem:
      type: object
      properties:
        id:
          type: integer
        clientId:
          type: integer
        dtCreate:
          type: string
        isRead:
          type: boolean
        type:
          type: string
        data:
          type: object
          additionalProperties: {}
    NotificationsResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/NotificationItem'
            count:
              type: integer
        statusCode:
          type: integer
          example: 200
    PageTextAttributes:
      type: object
      properties:
        align:
          type: string
          nullable: true
        bold:
          type: boolean
          nullable: true
        color:
          type: string
          nullable: true
        header:
          type: integer
          nullable: true
        link:
          type: string
          nullable: true
    PageTextBlock:
      type: object
      properties:
        insert:
          type: string
        attributes:
          $ref: '#/components/schemas/PageTextAttributes'
    PageItem:
      type: object
      properties:
        id:
          type: integer
        lang:
          type: string
        published:
          type: boolean
        title:
          type: string
        url:
          type: string
        html:
          type: string
        data:
          type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/PageTextBlock'
    PagesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PageItem'
        statusCode:
          type: integer
          example: 200
    Genre:
      type: object
      properties:
        genreId:
          type: integer
          example: 92
        subGenreId:
          type: integer
          nullable: true
          description: ID поджанра. Если выбран поджанр, genreId содержит ID родительского жанра.
      required:
      - genreId
    ArtistRef:
      type: object
      properties:
        id:
          type: integer
          example: 88029
        role:
          type: string
          enum:
          - MAIN
          - ADVANCED
          - FEAT
          description: MAIN — единственный главный артист; ADVANCED — дополнительный основной артист, отображается через запятую после MAIN; FEAT — артист при участии.
          example: MAIN
        platforms:
          type: array
          items:
            $ref: '#/components/schemas/PlatformBinding'
          description: В ответе трека у артистов могут приходить привязки Apple Music/Spotify.
      required:
      - id
      - role
    PlatformBinding:
      type: object
      properties:
        streamingPlatformId:
          type: integer
          description: ID площадки из /platform/platforms/streaming.
          example: 291
        platformId:
          type: string
          description: Внешний ID профиля на площадке (может быть пустым).
          example: spotify:artist:5Ii3BSYi2AVLX8mDiyd4CQ
      description: Привязка площадки внутри трека (персоны/артиста).
    TrackPerson:
      type: object
      properties:
        id:
          type: integer
          description: ID персоны (/persons).
          example: 81424
        roleKeys:
          type: array
          items:
            type: string
          description: Ключи ролей из /persons/person-data.
          example:
          - COMPOSER
          - LYRICIST
          - PRODUCER
        instrumentKeys:
          type: array
          items:
            type: string
          description: Ключи инструментов из /persons/person-data.
        platforms:
          type: array
          items:
            $ref: '#/components/schemas/PlatformBinding'
      required:
      - id
      - roleKeys
      description: Участник трека. Источник правды по ролям и инструментам.
    Contributor:
      type: object
      properties:
        personId:
          type: integer
          example: 81424
        roleIds:
          type: array
          items:
            type: integer
          description: Числовые ID ролей. Может приходить пустым — роли берутся из persons[].
        instrumentIds:
          type: array
          items:
            type: integer
      required:
      - personId
      description: Legacy-модель того же участника; отправляется для совместимости.
    ClientRef:
      type: object
      properties:
        id:
          type: integer
          example: 58474
        email:
          type: string
          format: email
        phone:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        nickName:
          type: string
        locale:
          type: string
          example: RU
      required:
      - id
      description: Клиент (владелец релиза).
    Media:
      type: object
      properties:
        id:
          type: integer
        filename:
          type: string
        url:
          type: string
          format: uri
        type:
          type: string
          enum:
          - cover
          - cover_750
          - wav
          - mp3
      description: Медиафайл релиза/трека.
    MediaUploadResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Media'
        statusCode:
          type: integer
          example: 201
      description: Ответ загрузки обложки или аудиофайла.
    TrackOrderItem:
      type: object
      properties:
        trackOrder:
          type: integer
          example: 0
        trackId:
          type: integer
          format: int64
          example: 910553
      required:
      - trackOrder
      - trackId
      description: Позиция трека при сортировке.
    CreateTrackResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            trackId:
              type: integer
              format: int64
              example: 910564
            copyrights:
              type: integer
              example: 100
            related:
              type: integer
              example: 100
        statusCode:
          type: integer
          example: 201
      description: Ответ POST /releases/{id}/tracks.
    ReleaseUploadStatusItem:
      type: object
      properties:
        streamingPlatformId:
          type: integer
          description: ID площадки.
        status:
          type: string
          enum:
          - UPLOADED
          - WAITING_FOR_DELIVERY
          - ERROR
          description: Статус выгрузки. Значение updated отображается как uploaded.
        userError:
          type: string
          nullable: true
      description: Элемент статуса выгрузки релиза.
    ReleaseUploadStatusesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ReleaseUploadStatusItem'
        statusCode:
          type: integer
          example: 200
    Checklist:
      type: object
      properties:
        status:
          type: string
          example: NEW
        data:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              newValue: {}
              oldValue: {}
              isAccepted:
                type: boolean
              dtUpdated:
                type: string
                nullable: true
      description: Лог изменений полей (используется при модерации).
    Track:
      type: object
      properties:
        trackId:
          type: integer
          format: int64
          example: 908312
        title:
          type: string
          description: Название трека. Для изменения использовать PUT /releases/{id}/tracks/{trackId}; PUT /releases/{id} не обновляет это поле.
          example: Pentagramma
        trackVersion:
          type: string
          nullable: true
          description: Версия (например, "Slowed"); null для основной.
        genre:
          $ref: '#/components/schemas/Genre'
        additionalGenres:
          type: array
          items:
            $ref: '#/components/schemas/Genre'
          description: Дополнительные жанры. Если выбран поджанр, элемент передаётся как { genreId, subGenreId }.
        language:
          type: integer
          description: ID языка из /releases/filters.
          example: 7
        ownIsrc:
          type: string
          nullable: true
        related:
          type: integer
          description: Доля связанных прав (0–100).
          example: 100
        copyrights:
          type: integer
          description: Доля авторских прав (0–100).
          example: 100
        adult:
          type: boolean
          example: false
        instrumental:
          type: boolean
          description: Если true — LYRICIST не обязателен.
          example: false
        karaoke:
          type: string
          nullable: true
        text:
          type: string
          nullable: true
          description: Текст/лирика трека.
        recordingYear:
          type: integer
          example: 2026
        startPoint:
          type: integer
          description: Точка старта превью (сек).
          example: 0
        clipPreviewFrame:
          type: integer
          nullable: true
          description: Только для CLIP.
        artists:
          type: array
          description: >
            Артисты трека. Допустим ровно один MAIN. Дополнительные основные артисты передаются
            как ADVANCED; порядок ADVANCED задаёт порядок артистов через запятую после MAIN.
            Артисты при участии передаются как FEAT; порядок FEAT задаёт порядок отображения
            внутри блока feat.
          items:
            $ref: '#/components/schemas/ArtistRef'
        persons:
          type: array
          items:
            $ref: '#/components/schemas/TrackPerson'
        contributors:
          type: array
          items:
            $ref: '#/components/schemas/Contributor'
      required:
      - trackId
      - title
      - genre
      - language
      - recordingYear
      - persons
      description: Объект трека (тело PUT /releases/{id}/tracks/{trackId} и элемент tracks[]).
    ReleaseUpdate:
      type: object
      properties:
        releaseId:
          type: integer
          format: int64
          example: 362233
        title:
          type: string
          description: Название релиза. PUT /releases/{id} изменяет только название релиза и не изменяет title треков.
          example: Pentagramma
        releaseType:
          type: string
          enum:
          - SINGLE
          - ALBUM
          - EP
          - PODCAST
          - CLIP
          - RINGTONE
          - TIKTOK_SOUND
          example: ALBUM
        status:
          type: string
          enum:
          - DRAFT
          - ALL
          - ERROR
          - MODERATE
          - WAITING
          - SHIPPING
          - RELEASED
          - TASK
          - WORKING
          - UPLOADED
          - REMOVED
          - DELETED
          - EDIT
          - PARTIAL_UPLOAD
          description: При создании/обновлении используется DRAFT; прочие значения выставляются системой.
          example: DRAFT
        releaseDate:
          type: string
          format: date
          description: Дата релиза (на запись — date).
          example: '2026-08-07'
        originalReleaseDate:
          type: string
          format: date
          nullable: true
          description: Оригинальная дата релиза. Для очистки можно передать null.
        presaveDate:
          type: string
          format: date
          nullable: true
        createDate:
          type: string
          format: date-time
          nullable: true
        language:
          type: integer
          nullable: true
          description: ID языка релиза (часто null; язык задаётся на треке).
        genre:
          $ref: '#/components/schemas/Genre'
        additionalGenres:
          type: array
          items:
            $ref: '#/components/schemas/Genre'
          description: Дополнительные жанры. Если выбран поджанр, элемент передаётся как { genreId, subGenreId }.
        label:
          type: string
          description: Название выбранного лейбла в ответе GET. При сохранении выбранный лейбл задаётся через labelId.
          example: AURA MUSIC
        labelId:
          type: integer
          description: ID лейбла из /labels. Принимается в PUT /releases/{id} и возвращается в GET /releases/{id}.
          example: 41510
        articleLabel:
          type: string
          example: MUA362233
        internalId:
          type: string
          example: alligator-r2362233
        releaseVersion:
          type: string
          nullable: true
        ownEan:
          type: string
          nullable: true
        clineValue:
          type: string
          description: Правообладатель (C-line).
          example: AURAMUSIC
        clineYear:
          type: string
          example: '2026'
        plineValue:
          type: string
          description: Правообладатель фонограммы (P-line).
          example: AURAMUSIC
        plineYear:
          type: string
          example: '2026'
        cover:
          type: string
          description: Путь к обложке в хранилище.
        client:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/ClientRef'
        artist:
          type: integer
          description: ID единственного MAIN-артиста. Второй и последующие основные артисты передаются в advArtists.
          example: 88029
        advArtists:
          type: array
          items:
            type: integer
          description: ID дополнительных основных артистов. Порядок массива задаёт порядок отображения через запятую после MAIN.
          example:
          - 132050
          - 132934
        featArtists:
          type: array
          items:
            type: integer
          description: ID артистов при участии. Порядок массива задаёт порядок отображения в блоке feat.
          example:
          - 130041
        artists:
          type: array
          minItems: 1
          description: >
            Артисты релиза с ролями. Массив должен быть согласован с artist, advArtists и
            featArtists: один элемент MAIN соответствует artist, элементы ADVANCED соответствуют
            advArtists, элементы FEAT соответствуют featArtists. Порядок передачи: ADVANCED
            в порядке advArtists, затем FEAT в порядке featArtists, затем MAIN.
          items:
            $ref: '#/components/schemas/ArtistRef'
        persons:
          type: array
          items: {}
          description: На уровне релиза всегда пусто. Участники задаются на треках.
        streamingPlatforms:
          type: array
          items:
            type: integer
          description: >
            ID площадок. Подтверждено по бандлу фронтенда и живому API: экран площадок релиза строится
            по GET /platform/platforms/streaming?withProvidersOnly=true — площадки без провайдера
            доставки backend отклоняет (RELEASE_INCORRECT_STREAMING_PLATFORMS на весь список).
            Дальше фронт фильтрует по releaseTypes (видео-площадки только для CLIP), по языкам треков
            (Juno Records 233 и Nightlife Music 254 — только язык 7/EN; Beatport-семейство 213, 272,
            284, 288 не принимает языки 3, 10, 12, 30, 33, 34, 37, 57, 59, 63, 64) и по жанрам
            (Beatport-семейство — только категории Dance / Electronic и Bass Music на релизе и треках;
            Music Worx 246 — Dance / Electronic, Hip-Hop / R&B, Reggae/Dub, Latin; fingerprint-площадки
            199, 219, 615 недоступны для genreId 183 и 192). UGC/fingerprint-площадки
            (199, 220, 264, 269, 280, 615 — константа M9 фронта) — отдельная секция с собственным
            «Select all»: кнопка «выбрать все» их НЕ включает; на Start/Standard-планах они недоступны
            (TikTok доступен для TIKTOK_SOUND). START_V2 ограничен площадками 193, 195, 196, 197, 689.
            При выборе отдельных стран исключаются 218, 224, 229, 234, 252, 266, 289. Связанные пары
            синхронизируются по ID: 282/290 (Apple Music/Shazam), 196/689 (Yandex/KION),
            615/220 (Facebook/Instagram); YouTube Content ID 199 требует YouTube Music 200.
        countries:
          type: array
          items:
            type: integer
          description: Пустой массив означает все страны.
        level:
          type: string
          enum:
          - REGULAR
          - PREMIUM
          example: PREMIUM
        levelPlan:
          type: string
          enum:
          - BUSINESS
          - STANDARD
          - PREMIUM
          - BUSINESS-START
          - BUSINESS-STANDARD
          - BUSINESS-PREMIUM
          example: BUSINESS-PREMIUM
        isReleased:
          type: boolean
          example: false
        contractSigned:
          oneOf:
          - type: boolean
          - type: integer
          example: 0
        tracks:
          type: array
          items:
            $ref: '#/components/schemas/Track'
          description: Массив треков в ответе. PUT /releases/{id} не применяет изменения полей треков из этого массива; для изменения трека использовать PUT /releases/{id}/tracks/{trackId}.
      required:
      - releaseId
      - title
      - releaseType
      - releaseDate
      - genre
      - artists
      description: >
        Тело PUT /releases/{id}. Для SINGLE с одним треком поля artists, title, artist,
        trackVersion, advArtists, featArtists, genres, additionalGenres и genre у релиза и трека
        должны совпадать. PUT /releases/{id} не синхронизирует release.title с tracks[0].title:
        пустой или непустой title трека не меняется при изменении title релиза, а явно переданный
        tracks[0].title в этом payload не применяется. Поле _single в ответе GET не возвращается.
    TrackResponse:
      description: 'Объект трека в ответе: Track плюс серверные поля.'
      allOf:
      - $ref: '#/components/schemas/Track'
      - type: object
        properties:
          media:
            type: array
            items:
              $ref: '#/components/schemas/Media'
          trackData:
            type: object
            properties:
              duration:
                type: number
                description: Длительность, сек.
                example: 125.75
          processStatus:
            type: string
            example: completed
          processMessage:
            type: string
          internalId:
            type: string
          md5:
            type: string
          track:
            type: string
            description: Путь к исходному (wav) файлу.
          dtCreate:
            type: string
          checklist:
            $ref: '#/components/schemas/Checklist'
    Release:
      description: 'Объект релиза в ответе: ReleaseUpdate плюс серверные поля.'
      allOf:
      - $ref: '#/components/schemas/ReleaseUpdate'
      - type: object
        properties:
          releaseDate:
            oneOf:
            - type: string
              format: date
            - type: string
              format: date-time
            example: '2026-08-07'
          media:
            type: array
            items:
              $ref: '#/components/schemas/Media'
          isFromMigration:
            type: boolean
            nullable: true
          checklist:
            $ref: '#/components/schemas/Checklist'
          tracks:
            type: array
            items:
              $ref: '#/components/schemas/TrackResponse'
    ReleaseResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Release'
        statusCode:
          type: integer
          example: 200
    CreateReleaseRequest:
      type: object
      properties:
        releaseType:
          type: string
          enum:
          - SINGLE
          - ALBUM
          - EP
          - PODCAST
          - CLIP
          - RINGTONE
          - TIKTOK_SOUND
          example: SINGLE
      required:
      - releaseType
      description: Тело POST /releases/create.
    CreateReleaseResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            release:
              type: object
              properties:
                releaseId:
                  type: integer
                  example: 362233
                tracks:
                  type: array
                  items:
                    type: object
                    properties:
                      trackId:
                        type: integer
        statusCode:
          type: integer
      description: Подтверждены releaseId и первый trackId.
    PersonPlatform:
      type: object
      properties:
        id:
          type: integer
          description: ID площадки из /platform/platforms/streaming.
          example: 291
        name:
          type: string
          example: Spotify
        platformId:
          type: string
          description: Внешний ID профиля (может быть пустым).
      description: Привязка площадки при создании/редактировании артиста или персоны.
    ArtistCreate:
      type: object
      properties:
        name:
          type: string
        platforms:
          type: array
          items:
            $ref: '#/components/schemas/PersonPlatform'
          description: Для Apple Music и Spotify передаётся platformId; если профиля нет, platformId пустая строка.
      required:
      - name
      - platforms
    PersonCreate:
      type: object
      properties:
        name:
          type: string
          example: Тестик
        platforms:
          type: array
          items:
            $ref: '#/components/schemas/PersonPlatform'
      required:
      - name
      description: Тело POST /persons.
    IdResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: integer
              example: 133586
        statusCode:
          type: integer
          example: 201
      description: Возвращается только id созданной сущности.
    StatusResponse:
      type: object
      properties:
        statusCode:
          type: integer
          example: 200
    Role:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        nameEn:
          type: string
        key:
          type: string
          description: Ключ для roleKeys в треке.
        category:
          type: string
        categoryEn:
          type: string
    Instrument:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        nameEn:
          type: string
        key:
          type: string
          description: Ключ для instrumentKeys в треке.
        category:
          type: string
        categoryEn:
          type: string
    PersonDataResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            roles:
              type: array
              items:
                $ref: '#/components/schemas/Role'
            instruments:
              type: array
              items:
                $ref: '#/components/schemas/Instrument'
        statusCode:
          type: integer
      description: Справочник ролей и инструментов.
    StreamingPlatform:
      type: object
      description: Элемент общего справочника площадок. Справочник не является готовым списком площадок для конкретного релиза.
      properties:
        id:
          type: integer
          example: 291
        name:
          type: string
        publicName:
          type: string
        urlIcon:
          type: string
          nullable: true
        releaseTypes:
          type: array
          description: Типы релизов из общего справочника площадок. Этого поля недостаточно, чтобы определить допустимый список streamingPlatforms для PUT /releases/{id}.
          items:
            $ref: '#/components/schemas/ReleaseTypeRef'
        domains:
          type: array
          nullable: true
          items:
            type: string
    ReleaseTypeRef:
      type: object
      properties:
        releaseTypeId:
          type: integer
        releaseType:
          type: string
          enum:
          - SINGLE
          - ALBUM
          - EP
          - PODCAST
          - CLIP
          - RINGTONE
          - TIKTOK_SOUND
    StreamingPlatformsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/StreamingPlatform'
        statusCode:
          type: integer
          example: 200
    SocialPlatform:
      type: object
      properties:
        id:
          type: integer
          example: 5
        name:
          type: string
        icon_url:
          type: string
        domains:
          type: array
          items:
            type: string
    SocialPlatformsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/SocialPlatform'
        statusCode:
          type: integer
          example: 200
    Country:
      type: object
      properties:
        id:
          type: integer
        code:
          type: string
          description: ISO alpha-2.
          example: AB
        name:
          type: string
        alpha3:
          type: string
        nameEn:
          type: string
        isAvailableForDistribution:
          type: boolean
        countryGroup:
          type: string
          nullable: true
        countryGroupEn:
          type: string
          nullable: true
    CountriesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Country'
        statusCode:
          type: integer
          example: 200
    FilterGenre:
      type: object
      properties:
        genreId:
          type: integer
        parentId:
          type: integer
          nullable: true
        genreName:
          type: string
        category:
          type: string
    Lang:
      type: object
      properties:
        langId:
          type: integer
          example: 7
        langCode:
          type: string
        langName:
          type: string
    ReleasesFiltersResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            genres:
              type: array
              items:
                $ref: '#/components/schemas/FilterGenre'
            types:
              type: array
              items:
                $ref: '#/components/schemas/ReleaseTypeRef'
            langs:
              type: array
              items:
                $ref: '#/components/schemas/Lang'
        statusCode:
          type: integer
      description: Справочник для фильтров и форм релиза.
    StatisticsRequest:
      type: object
      properties:
        dates:
          type: array
          items:
            type: object
            properties:
              from:
                type: string
                format: date
              to:
                type: string
                format: date
          description: Периоды.
        filters:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
                enum:
                - id_m_release
                - id_m_track
                - id_m_list_streaming_platform
                - id_s_list_country
                - ownEan
              value:
                oneOf:
                - type: integer
                - type: string
        aggs:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
                enum:
                - dt_listen
                - id_m_list_streaming_platform
                - id_m_release
                - id_m_track
                - id_s_list_country
              format:
                type: string
                example: day
      description: Тело POST /statistics.
